[Unit]
Description  = Rarible Crawler
Wants        = network-online.target
After        = network-online.target

[Service]
User         = $USER
Group        = $USER
ExecStart    = $PATH_TO_RARIBLE_PROJECT/deployment/scripts/rarible-crawler.sh start
ExecStop     = $PATH_TO_RARIBLE_PROJECT/deployment/scripts/rarible-crawler.sh stop
Type         = forking
Restart      = always
RestartSec   = 10
StartLimitBurst = 10000

[Install]
WantedBy     = multi-user.target
